/* Main Page Layout */
.dead-end-sign {
position: relative;
text-align: center;
margin-top: 0; 

font-family: Georgia, 'Times New Roman', Times, serif;
font-size: clamp(1.5rem, 5cqi, 8rem);
font-style: oblique;
color: rgb(0, 0, 0);
}

.dead-end-header {
position: relative;
text-align: center;

font-family: Georgia, 'Times New Roman', Times, serif;
font-size: clamp(1rem, 2.5cqi, 5rem);
color: rgb(0, 0, 0);
}

.dead-end-info {
position: relative;
text-align: center;

font-family: Georgia, 'Times New Roman', Times, serif;
font-size: clamp(.75rem, 1.75cqi, 4rem);
font-style: oblique;
color: rgb(0, 0, 0);
}