/* Main Page Layout */
.dying-header {
position: relative;
text-align: center;

color: white;
font-family: monospace;
font-size: 3ch;
}

.dying-info {
position: relative;
text-align: center;

color: white;
font-family: monospace;
font-size: 3ch;
}