/* Main Page Layout */
.garden-sign {
  position: relative;
  text-align: center;
  margin-top: 0; 

  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 4vw;
  font-style: oblique;
}

.garden-header {
  position: relative;
  text-align: center;

  color: white;
  font-family:'Times New Roman', Times, serif;
  font-size: 5ch;
  font-style: oblique;
}

.garden-info {
  position: relative;
  text-align: center;

  color: white;
  font-family:monospace;
  font-size: 3ch;
}

.ring-wrapper {
  position: relative;
  width: 75%;
  margin: 12.5%;
  aspect-ratio: 1;
}

.ring-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
}

.studio-wrapper {
  position: absolute;

  left: 1%;
  top: 33%;

  width: 15%;
  height: 15%;

  background: transparent;
}

.studio-wrapper::after {
  content: "";

  position: absolute;
  inset: 0;

  border-radius: 100%;

  box-shadow: 0 0 32px 16px rgba(11, 163, 173, 0.6);
  background-color: aqua;
  
  opacity: .25;
  transition: opacity 3s ease;
}

.studio-wrapper:hover::after {
  content: "Wicked Studios";
  align-content: center;
  text-align: center;

  background-color: aqua;
  box-shadow: 0 0 32px 16px rgba(3, 68, 63, 0.7);

  opacity: .75;
  transition: opacity 3s ease;
}

.burn-wrapper {
  position: absolute;

  left: 49%;
  top: 79%;

  width: 30%;
  height: 15%;  
  transform: rotate(-30deg);

  background: transparent;
}

.burn-wrapper::after {
  content: "";

  position: absolute;
  inset: 0;

  border-radius: 100%;

  box-shadow: 0 0 32px 16px rgba(11, 163, 173, 0.6);
  background-color: aqua;
  
  opacity: .25;
  transition: opacity 3s ease;
}

.burn-wrapper:hover::after {
  content: "Wicked Burns";
  align-content: center;
  text-align: center;

  background-color: aqua;
  box-shadow: 0 0 32px 16px rgba(3, 68, 63, 0.7);

  opacity: .75;
  transition: opacity 3s ease;
}

.dye-wrapper {
  position: absolute;

  left: 25%;
  top: 15%;

  width: 30%;
  height: 30%;

  background: transparent;
}

.dye-wrapper::after {
  content: "";

  position: absolute;
  inset: 0;

  border-radius: 100%;

  box-shadow: 0 0 32px 16px rgba(11, 163, 173, 0.6);
  background-color: aqua;
  
  opacity: .25;
  transition: opacity 3s ease;
}

.dye-wrapper:hover::after {
  content: "Wicked Dyes";
  align-content: center;
  text-align: center;

  background-color: aqua;
  box-shadow: 0 0 32px 16px rgba(3, 68, 63, 0.7);

  opacity: .75;
  transition: opacity 3s ease;
}

.wire-wrapper {
  position: absolute;

  left: 7.5%;
  top: 60%;

  width: 10%;
  height: 30%;  
  transform: rotate(-15deg);

  background: transparent;
}

.wire-wrapper::after {
  content: "";

  position: absolute;
  inset: 0;

  border-radius: 100%;

  box-shadow: 0 0 32px 16px rgba(11, 163, 173, 0.6);
  background-color: aqua;
  
  opacity: .25;
  transition: opacity 3s ease;
}

.wire-wrapper:hover::after {
  content: "Wicked Wires";
  align-content: center;
  text-align: center;

  background-color: aqua;
  box-shadow: 0 0 32px 16px rgba(3, 68, 63, 0.7);

  opacity: .75;
  transition: opacity 3s ease;
}