.home-sign {
  position: relative;
  display: block;

  width: 95%; 
  min-height: 100%;
  
  margin: auto;
  margin-top: 2.5%;

  text-align: center;

  overflow: hidden;
}

.home-banner {
  position: relative;
  display: block;

  width: 100%;
  min-height: 100%;

  text-align: center;
  animation: fadeIn 3s ease-in-out forwards;

  overflow: hidden; 
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(8px); /* Optional: adds a slight upward nudge */
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.home-name {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  
  color: rgba(21, 146, 168, 0.95);
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
  font-size: 5rem;
  
  opacity: .7;
  animation: fadeIn 5s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(4px); /* Optional: adds a slight upward nudge */
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.home-callout {
  position: absolute;
  bottom:0;
  left: 0;
  width: 100%;
  height: 9%;
  
  text-align: center;
  color: white;
  font-family: monospace;
  font-size: 1.5rem;

  display: inline-flex;
  align-items: end;
  justify-content: left;
  
  
  background: rgba(0, 0, 0, .75);
  box-sizing: border-box;
  
  opacity: .75;
}

.home-header {
  position: relative;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  
  color: rgba(14, 190, 221, .8);
  font-family: monospace;
  font-size: 4rem;
  
  opacity: .7;
  transition: opacity 5s ease-in-out;
}

.grove-container {
  position: relative;
  width: 100%;

  max-width: 100%;
  margin-top: 15%;
}

.top-row {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  margin-bottom: 15%;
}

.soul-wrapper, 
.swamp-wrapper {
  position: relative;
  display: block;
  border: 1;
  border-radius:100;

  width: 40%;
  aspect-ratio: 1;
}

.soul-wrapper img, 
.swamp-wrapper img {
  position: relative;
  display: block;

  border: 1px solid black; 
  border-radius: 100%;    
  
  width: 100%;
  height: 100%;
  
  aspect-ratio: 1 / 1;    
  object-fit: cover;      
}

.soul-link {
  position: absolute;
  left: 7%;
  top: 9%;

  width: 85%;
  height: 85%;

  background: transparent;

  z-index: 10;
}

.swamp-link {
  position: absolute;
  left: 0%;
  top: 0%;

  width: 100%;
  height: 100%;

  background: transparent;

  z-index: 10;
}

.soul-link::after {
  content: "";
  align-content: center;
  text-align: center;

  position: absolute;
  inset: 0;

  border-radius: 100%;
  box-shadow: 0 0 25px 25px rgb(218, 170, 14, .65);
  background-color: rgb(218, 170, 14, .55);
  cursor:-webkit-zoom-in;

  transition: 2000ms;
}

.soul-link:hover::after {
  content: "";
  align-content: center;
  text-align: center;

  position: absolute;
  inset: 0;

  border-radius: 100%;
  box-shadow: 0px 0px 125px 100px rgb(218, 170, 14, .65);
  background-color: rgba(223, 178, 31, .35);

  transition: 1000ms;
}

.swamp-link::after {
  content: "Thinking With Tentacles";
  align-content: center;
  text-align: center;

  position: absolute;
  inset: 0;
  
  font-size: clamp(5.5cqi, 5.5cqi, 7.5cqi);
  font-family: cursive;
  font-style:oblique;
  color:rgb(0, 0, 0);

  border-radius: 100%;
  box-shadow: 0 0 60px 30px rgba(149, 9, 192, 0.75);
  background-color: rgba(25, 121, 230, 0.75);
  cursor:-webkit-zoom-in;
  
  opacity: .75;
  transition: 2000ms;
}

.swamp-link:hover::after {
  content: "Thinking With Tentacles";
  align-content: center;
  text-align: center;

  position: absolute;
  inset: 0;

  font-size: clamp(5.75cqi, 5.75cqi, 7.75cqi);
  font-style:oblique;
  color:rgba(221, 207, 206, 0.836);
  font-style:oblique;

  border-radius: 100%;
  box-shadow: 0px 0px 125px 100px rgba(25, 121, 230, 0.75);
  background-color: rgba(149, 9, 192, 0.33);

  opacity: 1;
  transition: 1000ms;
}

.vault-wrapper {
  position: relative;
  display: block;

  width: 33%;
  left: 33.5%;
  
  margin: 0;
  aspect-ratio: 1;
  
  margin-bottom: 15%;
}

.vault-wrapper img {
  display: block;

  width: 100%;
  height: 100%;

  border-radius: 100%;

  margin: 0 auto;
}

.vault-link {
  position: absolute;
  left: 0%;
  top: 0%;
  
  width: 100%;
  height: 100%;

  background: transparent;
  z-index: 10;
}

.vault-link::after {
  content: "Vault";
  align-content: center;
  text-align: center;

  position: absolute;
  inset: 0;
  
  font-size: clamp(5.5cqi, 5.5cqi, 7.5cqi);
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:rgb(8, 173, 124);

  border-radius: 100%;

  cursor:-webkit-zoom-in;

  transition: 1000ms;
}

.vault-link:hover::after {
  content: "Vault";
  align-content: center;
  text-align: center;

  position: absolute;
  inset: 0;

  font-size: clamp(7.5cqi, 7.5cqi, 9.5cqi);
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:rgb(6, 129, 92);

  border-radius: 100%;

  background-color: rgba(233, 27, 37, 0.5);
  cursor:-webkit-zoom-in;

  transition: 1000ms;
}

.dead-wrapper {
  position: relative;
  width: 25%;

  left: 37.5%;
  
  aspect-ratio: 1;
  
  margin-bottom: 5rem;
}

.dead-wrapper img {
  display: block;

  width: 100%;
  height: 100%;

  border-radius: 100%;

  margin: 0 auto;
  overflow: hidden;
}

.dead-link {
  position: absolute;
  left: 0%;
  top: 0%;
  
  width: 100%;
  height: 100%;

  background: transparent;
  z-index: 10;
}

.dead-link::after {
  content: "Dead End";
  align-content: center;
  text-align: center;

  position: absolute;
  inset: 0;
  
  font-size: clamp(.75rem, 4cqi, 8rem);
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:rgb(216, 89, 89);

  border-radius: 100%;

  border-style: dashed;

  box-shadow: var(--shadow-x) 85vh 300px 0px rgb(23, 0, 48, .6);
  background-color: rgba(76, 53, 131, 0.25);
  cursor:-webkit-zoom-in;

  transition: 5000ms;
}

.dead-link:hover::after {
  content: "Dead End";
  align-content: center;
  text-align: center;

  position: absolute;
  inset: 0;

  font-size: 4.5cqi;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:rgb(160, 17, 17);

  border-radius: 100%;
  

  border-style: dashed;

  box-shadow: 0 0 25px 25px rgba(20, 4, 37, 1);
  background-color: rgba(76, 53, 131, 0.75);
  cursor:-webkit-zoom-in;

  transition: 3000ms;
}