.home-sign {
  position: relative;
  display: block;

  width: 95%; 
  min-height: 100%;
  
  margin: auto;
  margin-top: 2.5%;

  text-align: center;

  overflow: hidden;
}

.home-banner {
  position: relative;
  display: block;

  width: 100%;
  min-height: 100%;

  text-align: center;
  animation: fadeIn 3s ease-in-out forwards;

  overflow: hidden; 
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(8px); /* Optional: adds a slight upward nudge */
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.home-name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
  color: rgba(14, 190, 221, .8);
  font-family: monospace;
  font-size: 4rem;
  
  opacity: .7;
  animation: fadeIn 5s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(4px); /* Optional: adds a slight upward nudge */
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.home-callout {
  position: absolute;
  bottom:0;
  left: 0;
  width: 100%;
  
  color: white;
  font-family: monospace;
  font-size: 1rem;
  
  background: rgba(0, 0, 0, .75);
  box-sizing: border-box;
  
  opacity: .75;
}

.home-header {
  position: relative;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  
  color: rgba(14, 190, 221, .8);
  font-family: monospace;
  font-size: 4rem;
  
  opacity: .7;
  transition: opacity 5s ease-in-out;
}

.grove-container {
  position: relative;
  width: 100%;

  max-width: 100%;
  margin-top: 15%;
}

.top-row {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  margin-bottom: 5rem;
}

.soul-wrapper, 
.swamp-wrapper {
  position: relative;
  display: block;

  width: 40%;
  aspect-ratio: 1;
}

.soul-wrapper img, 
.swamp-wrapper img {
  display: block;

  width: 100%;
  height: 100%;
}

.soul-link, 
.swamp-link {
  position: absolute;
  left: 5%;
  top: 5%;

  width: 90%;
  height: 90%;

  background: transparent;

  z-index: 10;
}

.soul-link::after {
  content: "";

  position: absolute;
  inset: 0;

  border-radius: 100%;

  box-shadow: 0 0 32px 16px rgba(11, 163, 173, 0.6);
  background-color: aqua;
  
  opacity: .25;
  transition: opacity 3s ease;
}

.soul-link:hover::after {
  content: "Wicked Studios";
  align-content: center;
  text-align: center;

  background-color: aqua;
  box-shadow: 0 0 32px 16px rgba(3, 68, 63, 0.7);

  opacity: .75;
  transition: opacity 3s ease;
}

.swamp-link::after {
  content: "";

  position: absolute;
  inset: 0;

  border-radius: 100%;

  box-shadow: 0 0 32px 16px rgba(11, 163, 173, 0.6);
  background-color: aqua;
  
  opacity: .25;
  transition: opacity 3s ease;
}

.swamp-link:hover::after {
  content: "Thinking With Tentacles";
  align-content: center;
  text-align: center;

  background-color: aqua;
  box-shadow: 0 0 32px 16px rgba(3, 68, 63, 0.7);

  opacity: .75;
  transition: opacity 3s ease;
}

.dead-wrapper {
  position: relative;
  width: 33%;
  
  margin: auto;
  aspect-ratio: 1;
  overflow: hidden;
}

.dead-wrapper img {
  display: block;

  width: 100%;
  height: 100%;

  border-radius: 100%;

  margin: 0 auto;
  overflow: hidden;
}

.dead-link {
  position: absolute;
  left: 5%;
  top: 5%;
  
  width: 90%;
  height: 90%;

  background: transparent;
  z-index: 10;
}

.dead-link::after {
  content: "";

  position: absolute;
  inset: 0;

  border-radius: 100%;

  box-shadow: 0 0 32px 16px rgba(11, 163, 173, 0.6);
  background-color: aqua;
  
  opacity: .25;
  transition: opacity 3s ease;
}

.dead-link:hover::after {
  content: "Dead End";
  align-content: center;
  text-align: center;

  background-color: aqua;
  box-shadow: 0 0 32px 16px rgba(3, 68, 63, 0.7);

  opacity: .75;
  transition: opacity 3s ease;
}

.vault-wrapper {
  position: relative;
  width: 25%;

  margin: 0 auto 2rem auto;
  aspect-ratio: 1;
}

.vault-wrapper img {
  display: block;

  width: 100%;
  height: 100%;
    
  border-radius: 100%;

  margin: 10rem auto;
}

.vault-link {
  position: absolute;
  left: 5%;
  top: 5%;

  width: 90%;
  height: 90%;
  background: transparent;
  z-index: 10;
}

.vault-link::after {
  content: "";

  position: absolute;
  inset: 0;

  border-radius: 100%;

  box-shadow: 0 0 32px 16px rgba(11, 163, 173, 0.6);
  background-color: aqua;
  
  opacity: .25;
  transition: opacity 3s ease;
}

.vault-link:hover::after {
  content: "Vault";
  align-content: center;
  text-align: center;

  background-color: aqua;
  box-shadow: 0 0 32px 16px rgba(3, 68, 63, 0.7);

  opacity: .75;
  transition: opacity 3s ease;
}