/* Main Page Layout */
.wiring-header {
position: relative;
text-align: center;

color: white;
font-family: monospace;
font-size: 3ch;
}

.wiring-info {
position: relative;
text-align: center;

color: white;
font-family: monospace;
font-size: 3ch;
}