/* Main Page Layout */
.woodcraft-sign {
position: relative;
text-align: center;
margin-top: 0; 

color: white;
font-family: 'Times New Roman', Times, serif;
font-size: 4vw;
font-style: oblique;
}

.woodcraft-header {
position: relative;
text-align: center;

color: white;
font-family: monospace;
font-size: 3ch;
}

.woodcraft-info {
position: relative;
text-align: center;

color: white;
font-family: monospace;
font-size: 3ch;
}

/* Sample Grid Layout */
.sample-grid {
position: relative;
display: flex;
width: 100%;
}

.sample-wrapper {
position: relative;
display: block;
flex: 1;
aspect-ratio: 7/8;

padding: 0;
border: 0;

cursor: grab;
}

.sample-wrapper img {
display: block;
width: 100%;
height: 100%;

object-fit: cover;
}

.sample-wrapper.selected {
cursor: grabbing;
}

.sample-wrapper:hover .sample-name {
opacity: 1;
}

.sample-wrapper.selected .sample-name {
opacity: 1;
}

.sample-name {
position: absolute;
text-align: center;
width: 100%;
top: 0;
left: 0;

color: white;
font-family:monospace;
font-size: 1rem;

background: rgba(0, 0, 0, 0.75);
box-sizing: border-box;
padding: 6px;
opacity: 0;
transition: opacity 0.33s ease-in-out;
}