/* Main Page Layout */
.shop-sign {
position: relative;
text-align: center;
margin-top: 0; 

color: white;
font-family: 'Times New Roman', Times, serif;
font-size: 4vw;
font-style: oblique;
}

.shop-header {
position: relative;
text-align: center;

color: white;
font-family: monospace;
font-size: 3ch;
}

.shop-info {
position: relative;
text-align: center;

color: white;
font-family: monospace;
font-size: 3ch;
}